mixin forum-item(tooltip,title,theme,msg,upd,date)
	+e.item
		+e.branch
			+e.img-wrap&attributes(attributes)
			.tooltip(role="tooltip")= tooltip
				.arrow(data-popper-arrow)
			+e.theme(href="#")!= title
		+e.counter--theme
			+e.counter-img
				+icon('list2')
			+e.amount!= `${theme} <span>Тем</span>`
		+e.counter--msg
			+e.counter-img
				+icon('msg')
			+e.amount!= `${msg} <span>Сообщения</span>`
		+e.updating
			+e.updating-link(href='#')!= `Обновление: ${upd}`
			+e.updating-date= date

mixin forum-themes(tooltip,title,descr,msg,date,name)
	+e.themes-item
		+e.branch
			+e.img-wrap&attributes(attributes)
			.tooltip(role="tooltip")= tooltip
				.arrow(data-popper-arrow)
			+e.text
				+e.theme(href="#")!= title
				+e.descr!= descr
		+e.counter--msg
			+e.counter-img
				+icon('msg')
			+e.amount!= `${msg} <span>Ответов</span>`
		+e.updating
			+e.updating-link(href="#")!= `Обновление: ${date}`
			+e.updating-date= name

mixin sForum(data)
	// start sForum
	+b.SECTION.sForum.section#sForum&attributes(attributes)
		.container-fluid
			+e.container
				+e.header
					h1 Форум
				+forum-item('Имеются новые сообщения','В процессе обучения','25','502','В процессе обучения (Фёдоров Сергей)','15.11.2022 12:49:17')
				+forum-item('Нет новых сообщений','Участники в группах по семь человек в формате «равный — равному»','60','1653','Оранизационный план проведения мероприятия (Фёдоров Сергей)','15.11.2022 12:49:17').inactive
				+forum-item('Нет новых сообщений','Выпусники «Urban Лидер»','43','4001','Обновление: В процессе обучения (Фёдоров Сергей)','15.11.2022 12:49:17').inactive
				+forum-item('Имеются новые сообщения','Оранизационный план проведения мероприятия','18','39','В процессе обучения (Фёдоров Сергей)','15.11.2022 12:49:17')
	// end sForum


mixin sForumThemes(data)
	// start sForum
	+b.SECTION.sForum.section#sForum&attributes(attributes)
		.container-fluid
			+e.container
				+e.header
					h1 В процессе обучения
				+forum-themes('Имеются новые сообщения','В процессе обучения','Все руководители хотели повысить эффективность своих команд, но каждый пришел с конкретной задачей','502','15.11.2022 12:49:17','Urban Лидер')
				+forum-themes('Нет новых сообщений','Оранизационный план проведения мероприятия','Все руководители хотели повысить эффективность своих команд, но каждый пришел с конкретной задачей. Например, один из участников отметил, что среди его сотрудников снижается проактивность, есть признаки выгорания и слабой мотивации. Как повысить вовлеченность и ответственность каждого за общий результат, выработать в коллективе новые общие ценности?','73','15.11.2022 12:49:17','Фёдоров Сергей').inactive
				+forum-themes('Тема закрыта','Как повысить вовлеченность и ответственность каждого за общий результат?','Эффективность своих команд, но каждый пришел с конкретной задачей','64','15.11.2022 12:49:17','Летунова Александра Петровна').closed
				+forum-themes('Тема закрыта','Хотели повысить эффективность своих команд, но каждый пришел с конкретной задачей.','Эффективность своих команд, но каждый пришел с конкретной задачей','5','15.11.2022 12:49:17','Фёдоров Сергей').closed
				+forum-themes('Имеются новые сообщения','Все руководители хотят повысить эффективность своих команд','Эффективность своих команд, но каждый пришел с конкретной задачей','3273','15.11.2022 12:49:17','Летунова Александра Петровна')
				+forum-themes('Нет новых сообщений','Оранизационный план проведения мероприятия','Один из участников отметил, что среди его сотрудников снижается проактивность, есть признаки выгорания и слабой мотивации. ','93','15.11.2022 12:49:17','Фёдоров Сергей').inactive
				+forum-themes('Тема закрыта','В процессе обучения','Эффективность своих команд, но каждый пришел с конкретной задачей','59','15.11.2022 12:49:17','Фёдоров Сергей').closed
				+forum-themes('Тема закрыта','Индивидуальный план развития с поддержкой тьютора','Эффективность своих команд, но каждый пришел с конкретной задачей','602','15.11.2022 12:49:17','Фёдоров Сергей').closed
				+forum-themes('Имеются новые сообщения','Обмен лучшими практиками из личного управленческого опыта','Эффективность своих команд, но каждый пришел с конкретной задачей','4','15.11.2022 12:49:17','Летунова Александра Петровна')
				+forum-themes('Нет новых сообщений','Оранизационный план проведения мероприятия','Например, один из участников отметил, что среди его сотрудников снижается проактивность, есть признаки выгорания и слабой мотивации. Как повысить вовлеченность и ответственность каждого за общий результат, выработать в коллективе?','211','15.11.2022 12:49:17','Фёдоров Сергей').inactive
				+forum-themes('Тема закрыта','Как повысить вовлеченность и ответственность каждого за общий результат, выработать в коллективе новые общие ценности?','Эффективность своих команд, но каждый пришел с конкретной задачей','19','15.11.2022 12:49:17','Фёдоров Сергей').closed
				+forum-themes('Тема закрыта','Интерактивные задания и материалы курса на площадке онлайн-университета','Эффективность своих команд, но каждый пришел с конкретной задачей','70','15.11.2022 12:49:17','Фёдоров Сергей').closed
				+b.forum-pagination
					+e.title Страницы:
					+forum-pagin


mixin sForumDiscuss(data)
	// start sForum
	+b.SECTION.sForum.section#sForum&attributes(attributes)
		.container-fluid
			+b.alert--sm.alert-yellow Сообщение успешно добавлено.
			+e.container
				+e.pagination-row.row
					.col
						+b.forum-pagination.px-1.py-0
							+e.title Страницы:
							+forum-pagin
					+e.pagination-col.col-auto
						+btn('Ответить').btn.btn-primary
				+e.header.text-left
					h1 Оранизационный план проведения мероприятия. Все руководители хотели повысить эффективность своих команд, но&nbsp;каждый пришел с&nbsp;конкретной задачей
				+b.discussion
					+e.item
						+e.row.row
							+e.col.col-12.col-sm-auto
								+e.item-head
									.row
										.col.col-sm-12
											p Летунова Александра Петровна
										.col-auto.col-sm-12.order-sm-first
											+e.img-wrap
												+img(`img/profile-img.png`, 'bg')
							.col
								+e.item-content
									.text-secondary 15.11.2022 12:49:17
									p Первые выпускники &laquo;Urban Лидера&raquo;&nbsp;&mdash; программы, развивающей навыки управления командой в&nbsp;условиях изменений,&nbsp;&mdash; делятся впечатлениями об&nbsp;обучении. Кадровые сервисы Правительства Москвы спроектировали программу специально для руководителей среднего звена органов власти и&nbsp;подведомственных учреждений.
									
									+btn('Цитировать').btn.btn-outline-primary
					+e.item
						+e.row.row
							+e.col.col-12.col-sm-auto
								+e.item-head
									.row
										.col.col-sm-12
											p Летунова Александра Петровна
										.col-auto.col-sm-12.order-sm-first
											+e.img-wrap
							.col
								+e.item-content
									.text-secondary 15.11.2022 12:49:17
									+e.item-content
										.text-secondary Цитата
										p Я&nbsp;получил заряд энергии от&nbsp;успешных людей, профессионалов своего дела, и&nbsp;мотивацию к&nbsp;собственному развитию и&nbsp;развитию своей команды.
									p Первые выпускники &laquo;Urban Лидера&raquo;&nbsp;&mdash; программы, развивающей навыки управления командой в&nbsp;условиях изменений,&nbsp;&mdash; делятся впечатлениями об&nbsp;обучении. Кадровые сервисы Правительства Москвы спроектировали программу специально для руководителей среднего звена органов власти и&nbsp;подведомственных учреждений.
									+btn('Цитировать').btn.btn-outline-primary

				+e.pagination-row--bottom.row
					.col
						+b.forum-pagination.px-1.py-0
							+e.title Страницы:
							+forum-pagin
					+e.pagination-col.col-auto
						+btn('Ответить').btn.btn-primary
	// end sForum
	
mixin sForumAnswer(data)
	// start sForum
	+b.SECTION.sForum.sForum--answer.section#sForum&attributes(attributes)
		.container-fluid
			+e.container
				+e.header
					h2 Форма ответов
				+form-wrap
					+input('', 'textarea')
					+btn('Отправить', 'submit').btn.btn-primary
	// end sForum