include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		//- +icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		//- +icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")



mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Поиск по номеру или названию запчасти")
			button 
				+icon("search")

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)

			h1= t

//- mixin chat
//- 	+b.chat
//- 		+icon('help')
mixin help()
	+b.topNav-btnWrap--help&attributes(attributes)
		+e.btn.d-none.d-lg-flex.toggle-contact-js(data-id= "#ddHelp")
			+icon('help')
		+e.btn-content.dropdown-contact-js#ddHelp
			a(href="#")
				+icon('telegram-2')
				span Канал в телеграме
			a(href="#")
				+icon('question')
				span Вопрос админу
			a(href="#")
				+icon('pen')
				span Вопрос преподавателю
			a(href="#")
				+icon('help')
				span FAQ

mixin upload-field(text)
	+b.upload-field
		//- +e.title.form-wrap__input-title!=title
		+e.LABEL.wrap
			+e.SPAN.file-name!= text
			+e.SPAN.input-wrap
				+e.btn
					input.input-upload(type='file' name='file' accept=".jpg,.jpeg,.png,.pdf,.webp")
					//- +icon('clip')
					span Выбрать файл


mixin useful-item(type, text, i)
	.col-md-6
		+b.useful-item(href="#")
			+e.content
				+e.head
					block
					//- +label('', 'Факультативные')
					//- +label('', 'Просмотрено')
				+e.body
					.row
						.col
							p!= text
						+e.col.col-auto
							if i
								+e.img-wrap--gradient
									+img(`img/useful-item-${i}.jpg`, 'bg')
							else
								+e.img-wrap
			+e.footer
				+b.useful-label.me-auto(style= "--label-c: #999EAB; --label-bdc: #999EAB;" )
					span!= type
				+useful-label('calendar', '26 сентября').px-0(style= "--label-c: #999EAB;" )
				+useful-label('clock', '7 минут').px-0(style= "--label-c: #999EAB;" )


mixin useful-label(i, t)
	if i
		+b.useful-label--icon&attributes(attributes)
			+icon(i)
			span!= t
	else
		+b.useful-label&attributes(attributes)
			span!= t

mixin thanx(h, p)
	+b.thanx.active
		h5!= h
		p!= p
		+e.btn

mixin topicModule(t, c, activeClasses='')
	+b.topicModule.dd-group-js&attributes(attributes)(class=activeClasses)
		+e.head.dd-head-js
			+e.title!= t
			+e.count!= c
			+icon('chevron-down')
		+e.content.dd-content-js(class=activeClasses)
			block


mixin topicItem(d, h, complete)
	+b.topicItem--js&attributes(attributes)
		.row
			.col-auto
				+e.date-time
					+e.date!= d
					+e.day Фев (чт)
					+e.time 15:00
			.col
				+e.wrap
					h6!= h
					+e.links.row
						.col-auto
							+e.tag Обязательное
						.col-auto
							+e.task(href="#")
								+icon('pen')
								| Задание
					ul
						li 
							+icon('person')
							span Преподаватель: Летунова Александра Петровна Директор по&nbsp;развитию
						li 
							+icon('map-pin2')
							span Место проведения: Лекторий &laquo;Urban Лидер&raquo;
						li 
							+icon('clock')
							span З&nbsp;ак.ч.
		if complete
			+e.rating
				span 5
				small баллов

mixin courseItem()
	+b.courseItem
		+e.head
			+e.row.row
				.col-sm
					+e.title
						h3 Начинаем наш курс
						p Модуль 1. Вводный. Тема: выпускники «Urban Лидер«Urban Лидер
					+e.links-row.row
						.col-auto
							a(href="#")
								+icon('doc')
								| Посмотреть материалы
						.col-auto
							a(href="#") 
								+icon('pen')
								| Перейти к заданию
				.col-sm-auto
					+e.date-wrap
						+e.date-time 9 Фев, чт 15:00
						+e.rating 5 баллов
		+e.description
			ul
				li 
					+icon('person')
					span Преподаватель: Летунова Александра Петровна Директор по&nbsp;развитию
				li 
					+icon('map-pin2')
					span Место проведения: Лекторий &laquo;Urban Лидер&raquo;
				li 
					+icon('clock')
					span З&nbsp;ак.ч.
		+e.content
			h6 Как проходит процесс обучения?
			p Все руководители хотели повысить эффективность своих команд, но&nbsp;каждый пришел с&nbsp;конкретной задачей. Например, один из&nbsp;участников отметил, что среди его сотрудников снижается проактивность, есть признаки выгорания и&nbsp;слабой мотивации. Как повысить вовлеченность и&nbsp;ответственность каждого за&nbsp;общий результат, выработать в&nbsp;коллективе новые общие ценности?
			ul
				li Участники в&nbsp;группах по&nbsp;семь человек в&nbsp;формате &laquo;равный&nbsp;&mdash; равному&raquo; обменивались лучшими практиками из&nbsp;личного управленческого опыта.
				li Частью обучения стал индивидуальный план развития с&nbsp;поддержкой тьютора на&nbsp;каждом этапе.
				li Эксперты оказывали персональную помощь участникам в&nbsp;решении конкретной управленческой задачи

