mixin sExperts(data)
	// start sExperts
	+b.SECTION.sExperts.section#sExperts&attributes(attributes)
		.container-fluid
			+e.wrapper
				+b.section-title.text-center
					h2 Эксперты программы
				+e.row.row
					mixin sExpertsCard(i)
						.col-6.col-sm-4.col-lg-3
							+e.card(data-aos="fade-up" data-aos-delay="500" )
								+e.img-wrap
									+img(`img/sExperts-${i}.jpg`, 'bg')
									+e.text
										p Стаж работы 12&nbsp;лет. Окончил Ленинградский государственный университет имени А.С. Пушкина, Квалификация.
								+e.caption
									strong Татьяна Ливанова
									span Преподаватель в МГУ
					+sExpertsCard(1)
					+sExpertsCard(2)
					+sExpertsCard(1)
					+sExpertsCard(3)
					+sExpertsCard(4)
					+sExpertsCard(1)
					+sExpertsCard(2)
					+sExpertsCard(1)
	// end sExperts


mixin sExpertsMPA(data)
	// start sExperts
	+b.SECTION.sExperts--mpa.section#sExperts&attributes(attributes)
		.container-fluid
			+e.wrapper
				+b.section-title.text-center
					h2 Команда проекта
				+e.row.row
					mixin sExpertsCard(i, n, p, t)
						.col-12.col-sm-6.col-md-4
							+e.card(data-aos="fade-up" data-aos-delay="500" )&attributes(attributes)
								+e.img-wrap
									+img(`img/sExperts-${i}.jpg`, 'bg')
									+e.text.d-none.d-md-flex
										p!= t
								+e.caption
									strong!= n
									span!= p
									+e.text.d-md-none
										p!= t
					+sExpertsCard(5, `Наталья Рафейчик`, `Директор программы`, `Руководитель направлений &laquo;Адаптация&raquo; и&nbsp;&laquo;Центр комплексных программ&raquo; Кадровых сервисов Университета Правительства Москвы`)
					+sExpertsCard(6, `Анна Иванова`, `Руководитель программы`, `Заместитель директора Корпоративного университета Транспортного комплекса`)
					+sExpertsCard(7, `Инна Цыплакова`, `Куратор программы`, `Менеджер направлений &laquo;Адаптация&raquo; и&nbsp;&quot;Центр комплексных программ Кадровых сервисов Университета Правительства Москвы`)
	// end sExperts