mixin modulesItem(p, i)
	+e.col.col-md-6.col-lg-4
		+e.item(data-aos="fade-up" data-aos-delay="150")&attributes(attributes)
			if i
				+icon(`${i}`)
			else
				+e.icon
					//- +img('img/svg/switch-check.svg')
			p!= p
			if block
				block

mixin modulesItem3(p, i)
	+e.item(data-aos="fade-up" data-aos-delay="150")&attributes(attributes)
		if i
			+icon(`${i}`)
		else
			+e.icon
				//- +img('img/svg/switch-check.svg')
		p!= p
		if block
			block

mixin modulesItem2(p, i, t)
	+e.col.col-md-6.col-lg-4
		+e.item(data-aos="fade-up" data-aos-delay="150")&attributes(attributes)
			+icon(`${i}`)
			+e.item-content
				p!= p
				span!= t

mixin sModules(data)
	// start sModules
	+b.sModules.section&attributes(attributes)
		.container-fluid
			+e.wrapper(data-aos="fade-up" data-aos-delay="100" )
				+b.section-title.text-center
					h2 Модули программы
				+e.row.row
					+modulesItem(`Видение и&nbsp;стратегия современного образования.`, `check-rounded`)
					+modulesItem(`Современные технологии управления в&nbsp;образовании.`, `check-rounded`)
					+modulesItem(`Принятие и&nbsp;реализация управленческих решений.`, `check-rounded`)
					+modulesItem(`Управление клиентоориентированностью в&nbsp;образовании.`, `check-rounded`)
					+modulesItem(`Управление воспитательным, образовательным процессом и&nbsp;оценка качества.`, `check-rounded`)
					+modulesItem(`Профессиональное лидерство руководителя.`, `check-rounded`)
					+modulesItem(`Эффективные коммуникации руководителя.`, `check-rounded`)
					+modulesItem(`Управление человеческими ресурсами в&nbsp;системе руководителя.`, `check-rounded`)
					+modulesItem(`Управление экономикой и&nbsp;хозяйством образовательной организации.`, `check-rounded`)
					+modulesItem(`Управление рисками образовательной организации.`, `check-rounded`)
					+modulesItem(`Управление публичными коммуникациями и&nbsp;информационными потоками.`, `check-rounded`)
	// end sModules

mixin sModulesLearn(data)
	// start sModules
	+b.sModules.section&attributes(attributes)
		.container-fluid
			+e.wrapper(data-aos="fade-up" data-aos-delay="100" )
				+b.section-title.text-center
					h2 Вы&nbsp;научитесь
				+e.row.row
					+modulesItem(`Разрабатывать собственную стратегию развития образовательной организации с&nbsp;учетом современных трендов.`)
					+modulesItem(`Использовать свой лидерский потенциал для решения ключевых задач.`)
					+modulesItem(`Управлять публичными коммуникациями и информационными потоками.`)
					+modulesItem(`Применять новые технологии руководства образовательными организациями.`)
					+modulesItem(`Выбирать оптимальные модели и методы управления экономикой вашей организации.`)
					+modulesItem(`Выстраивать работу команд, нацеленных на высокую результативность.`)
					+modulesItem(`Оценивать и повышать эффективность образовательного и воспитательного процесса.`)
				p В&nbsp;процессе обучения вы&nbsp;создадите новые решения по&nbsp;развитию вашей образовательной организации, разработаете и&nbsp;реализуете собственный проект изменений.
	// end sModules


mixin sModulesMpa(data)
	// start sModules
	+b.sModules--mpa.section&attributes(attributes)
		.container-fluid
			+e.wrapper(data-aos="fade-up" data-aos-delay="100" )
				+b.section-title.text-center
					h2 В&nbsp;результате&nbsp;вы
				+e.row.row
					+modulesItem(`Познакомитесь с&nbsp;трендами в&nbsp;стратегическом и&nbsp;тактическом управлении на&nbsp;предприятиях транспорта.`, `arrow-right`)
					+modulesItem(`Освоите инструменты функционального, продуктового, проектного и&nbsp;процессного подхода`, `arrow-right`)
					+modulesItem(`Научитесь управлять клиентским сервисом и&nbsp;эффективностью сотрудников в&nbsp;период изменений`, `arrow-right`)
					+modulesItem(`Узнаете основные направления стратегии цифровой трансформации транспортной отрасли`, `arrow-right`)
					+modulesItem(`Изучите основы управления экономикой предприятий Транспортного комплекса Москвы`, `arrow-right`)
					+modulesItem(`Решите управленческую задачу, которую поставите перед собой на&nbsp;старте обучения`, `arrow-right`)
	// end sModules

mixin sModulesMpa2(data)
	// start sModules
	+b.sModules--mpa-check.section&attributes(attributes)
		.container-fluid
			+e.wrapper(data-aos="fade-up" data-aos-delay="100" )
				+b.section-title.text-center
					h2 Во&nbsp;время обучения&nbsp;вы
				+e.row.row
					+modulesItem2(`Пройдете стажировки у&nbsp;коллег из&nbsp;программы`, `check-rounded`, `летом 2023 года`)
					+modulesItem2(`Сформулируете и решите управленческую задачу`, `check-rounded`, `при поддержке трекеров и&nbsp;коллег`)
					+modulesItem2(`Защитите итоговый проект перед руководителями`, `check-rounded`, `декабря 2023 года`)
	// end sModules

mixin sModulesTrainees(data)
	// start sModules
	+b.sModules--trainees.section&attributes(attributes)
		.container-fluid
			+e.wrapper(data-aos="fade-up" data-aos-delay="100" )
				+b.section-title.text-center
					h2 Вы&nbsp;научитесь
				+e.row.row
					+modulesItem(`Разрабатывать собственную стратегию развития образовательной организации с&nbsp;учетом современных трендов.`, 'list-dot')
					+modulesItem(`Применять новые технологии руководства образовательными организациями.`, 'list-dot')
					+modulesItem(`Оценивать и&nbsp;повышать эффективность образовательного и&nbsp;воспитательного процесса.`, 'list-dot')
					+modulesItem(`Использовать свой лидерский потенциал для решения ключевых задач.`, 'list-dot')
					+modulesItem(`Выбирать оптимальные модели и&nbsp;методы управления экономикой вашей организации.`, 'list-dot')
					+modulesItem(`Управлять публичными коммуникациями и&nbsp;информационными потоками.`, 'list-dot')
					+modulesItem(`Выстраивать работу команд, нацеленных на&nbsp;высокую результативность.`, 'list-dot')
				p В&nbsp;процессе обучения вы&nbsp;создадите новые решения по&nbsp;развитию вашей образовательной организации, разработаете и&nbsp;реализуете собственный проект изменений.
	// end sModules

mixin sModulesProgram(data)
	// start sModules
	+b.sModules--trainees.--program.section&attributes(attributes)
		.container-fluid
			+e.wrapper(data-aos="fade-up" data-aos-delay="100" )
				+b.section-title.text-center
					h2 Модули программы
				+e.roww.row
					.col-md-4
						+e.items(style="--itemBgColor:#EAE4F3;")
							+modulesItem3(`Управление воспитательным, образовательным процессом и оценка качества.`, 'list-dot')
							+modulesItem3(`Профессиональное лидерство руководителя.`, 'list-dot')
							+modulesItem3(`Эффективные коммуникации руководителя.`, 'list-dot')
							+modulesItem3(`Управление человеческими ресурсами в системе руководителя.`, 'list-dot')
					.col-md-4
						+e.items(style="--itemBgColor:#FFFFFF;")
							+modulesItem3(`Управление экономикой и хозяйством образовательной организации.`, 'list-dot')
							+modulesItem3(`Управление рисками образовательной организации.`, 'list-dot')
							+modulesItem3(`Управление публичными коммуникациями и информационными потоками.`, 'list-dot')
					.col-md-4
						+e.items(style="--itemBgColor:#FFEED4;")
							+modulesItem3(`Видение и стратегия современного образования.`, 'list-dot')
							+modulesItem3(`Современные технологии управления в образовании.`, 'list-dot')
							+modulesItem3(`Принятие и реализация управленческих решений.`, 'list-dot')
							+modulesItem3(`Управление клиентоориентированностью в образовании.`, 'list-dot')
	// end sModules