mixin request-profile-item(name, img, age, position, company, interests=[], groups=[])
	+b.ARTICLE.profile-item(href='#')
		+e.header
			+e.header-text
				h2= name
				+e.age= age
				+e.show-more.d-sm-none.BUTTON Подробнее
			+e.header-img
				+e.img-wrap(href="#")
					+img(`img/profile-${img}.jpg`)
		+e.body
			if position
				+e.position= position
			if company
				+e.company!= company
			//- +e.text!= p
			if interests
				+e.interest-list.UL
					each interest in interests
						li= interest
			if groups
				+e.groups-list.UL
					each group in groups
						li= group
		+e.btn Посмотреть профиль
	// /.product-item

mixin request-item(p, received, status, title)
	+b.request-item
		block
		//- +request-profile-item('Летунова Александра Петровна', '1', '41 год', 'Директор по развитию', 'Федеральное бюджетное учреждение «Агентство автомобильного транспорта»', ['Спорт','Интерес 2'], ['Группа 2'])
		+e.reason
			+e.reason-text
				+e.title Причина запроса
				p!= p
			+e.reason-buttons
				if received
					+e.btn--approve Одобрить
					+e.btn--reject Отклонить
				else
					+e.status(class=`request-item__status--${status}`)= title

mixin sRequest(data)
	// start sRequest
	+b.SECTION.sRequest.section#sRequest&attributes(attributes)
		+e.tabs
			+e.select-container.container-fluid.d-lg-none
				select.sRequest__select-wrap--js
					//- select.sRequest__select.form-control.form-select.js-choice
						//- option.tabs-option(data-tabs-path="all") Избранные участники
						//- option.tabs-option(data-tabs-path="sent") Запросы на обмен контактами
						//- option.tabs-option(data-tabs-path="received") Отправленные запросы
			+e.tabs-caption.d-none.d-lg-flex.tabs__caption
				+e.tabs-btn(data-tabs-path="all").active
					+icon('like-btn')
					| Избранные участники
				+e.tabs-btn(data-tabs-path="sent")
					+icon('in')
					| Запросы на обмен контактами
				+e.tabs-btn(data-tabs-path="received")
					+icon('out')
					| Отправленные запросы
			+e.tabs-content.active(data-tabs-target="all")
				+sCatalog
			+e.tabs-content(data-tabs-target="sent")
				.container-fluid
					+e.requests-list.UL
						li
							+request-item('Планирую развиваться в&nbsp;маркетинге, мои цели на&nbsp;ближайшее время&nbsp;&mdash; научиться создавать действенные триггерные рассылки и&nbsp;обучиться таргетированной рекламе.','received')
								+request-profile-item('Агадуллина Елена', '2', '41 год', '', '', [''], ['Название группы 1',  'Название группы 2'])
						li
							+request-item('Федеральное бюджетное учреждение «Агентство автомобильного транспорта»','received')
								+request-profile-item('Летунова Александра Петровна', '1', '41 год', 'Директор по развитию', 'Федеральное бюджетное учреждение «Агентство автомобильного транспорта»', ['Спорт','Интерес 2'], ['Группа 2'])
						li
							+request-item('Планирую развиваться в&nbsp;маркетинге, мои цели на&nbsp;ближайшее время&nbsp;&mdash; научиться создавать действенные триггерные рассылки и&nbsp;обучиться таргетированной рекламе.','received')
								+request-profile-item('Анашкина Елена Владимировна', '3', '41 год', 'Директор по развитию', 'Федеральное бюджетное учреждение «Агентство автомобильного транспорта»', ['Спорт','Интерес 2'], ['Группа 2'])
						li
							+request-item('Планирую развиваться в&nbsp;маркетинге, мои цели на&nbsp;ближайшее время&nbsp;&mdash; научиться создавать действенные триггерные рассылки и&nbsp;обучиться таргетированной рекламе.','received')
								+request-profile-item('Афанасьева Ольга Валентиновна', '4', '41 год', '', '', ['Спорт','Интерес 2'], ['Название группы'])
					+pagin()
			+e.tabs-content(data-tabs-target="received")
				.container-fluid
					+e.requests-list.UL
						li
							+request-item('Планирую развиваться в&nbsp;маркетинге, мои цели на&nbsp;ближайшее время&nbsp;&mdash; научиться создавать действенные триггерные рассылки и&nbsp;обучиться таргетированной рекламе.','','approved','Одобрено')
								+request-profile-item('Барановская Татьяна Артуровна', '5', '41 год', 'Директор по развитию', 'Федеральное бюджетное учреждение «Агентство автомобильного транспорта»', ['Спорт','Интерес 2'], ['Название группы'])

						li
							+request-item('Планирую развиваться в&nbsp;маркетинге, мои цели на&nbsp;ближайшее время&nbsp;&mdash; научиться создавать действенные триггерные рассылки и&nbsp;обучиться таргетированной рекламе.','','rejected','Отклонено')
								+request-profile-item('Андрощук Виктор Владимирович', '6', '41 год', 'Директор по развитию', 'Федеральное бюджетное учреждение «Агентство автомобильного транспорта»', ['Спорт','Интерес 2'], ['Группа 2'])

						li
							+request-item('Планирую развиваться в&nbsp;маркетинге, мои цели на&nbsp;ближайшее время&nbsp;&mdash; научиться создавать действенные триггерные рассылки и&nbsp;обучиться таргетированной рекламе.','','pending','На рассмотрении')
								+request-profile-item('Бек Надежда Николаевна', '7', '41 год', 'Директор по развитию', 'Федеральное бюджетное учреждение «Агентство автомобильного транспорта»', ['Спорт','Интерес 2'], ['Название группы 1', 'Название группы 2'])
					+pagin()

	// end sRequest